<template>
  <div id="app">
    <h4 style="font-size: 40px">Math App Quiz</h4>

    <operator-selector v-if="!operator" @changeOperator="changeOperator"/>
    <OperatorQuiz @onBack="clearOperator" v-else="operator" :operator="operator" />

  </div>
</template>

<script>
import OperatorSelector from "./Components/OperatorSelector";
import OperatorQuiz from "./OperatorQuiz";

export default {
  name: 'app',
  data () {
    return {
      operator : null,
    }
  },
  methods : {
    changeOperator (operator){
      this.operator=operator;
    },
    clearOperator (){
      this.operator = null
    }
  },
  components : {
    OperatorSelector,
    OperatorQuiz
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

button{
  weight : 200px;
  height: 60px;
  font-size: 24px;
  background-color: aqua;
  margin-left: 10px;
  margin-bottom: 10px;
}

</style>
