<template>
  <div>
    <div v-if="isStarted">
      <h4>{{operandLeft}} {{operator}} {{operandRight}}</h4>
      <button @click="selectedAnswer(answer)" v-for="(answer,index) of answers" :key="index">{{answer}}</button>
    </div>

    <div v-if="!isStarted">
      <button @click="startQuiz">Start</button>
    </div>

      <button @click="$emit('onBack')">Back</button>
  </div>

</template>

<script>
export default {
  props : ['operator'],
  data (){
    return{
      operandLeft : null,
      operandRight : null,
      isStarted :false,
      answers : []
    };
  },
  methods:{
    selectedAnswer(answerSelected){
      if (answerSelected !== this.expectedAnswer){
        alert('Wrong Answer')
      }else {
        this.startQuiz()
      }
    },
    startQuiz (){
      this.operandLeft = Math.floor(Math.random() * 13)
      this.operandRight = Math.floor(Math.random() * 13)
      this.isStarted = true;

      const methods = {
        '+': (a,b) => a+b,
        '-': (a,b) => a-b,
        '/': (a,b) => a/b,
        '*': (a,b) => a*b,
      }

      const methodToUse = methods[this.operator]

      this.answers=[]
      this.answers.push(methodToUse(this.operandLeft+1, this.operandRight))
      this.answers.push(methodToUse(this.operandLeft+2, this.operandRight))
      this.answers.push(methodToUse(this.operandLeft-1, this.operandRight))
      this.answers.push(methodToUse(this.operandLeft-2, this.operandRight))
      this.answers.push(methodToUse(this.operandLeft-3, this.operandRight))

      const expectedAnswer = methodToUse(this.operandLeft, this.operandRight)
      this.answers[
        Math.floor(Math.random() * this.answers.length)
        ] = expectedAnswer;
      this.expectedAnswer = expectedAnswer;

    }
  }

}
</script>

<style scoped>

</style>
